@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,700&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: "Roboto";    
    background-color: var(--bg-color);
    color: var(--text-color);
}


:root{
    --primary-color: #101D2E;
    --text-color: #f2f2f2;
    --bg-color: #263d54;
    --bg-color-soft-1: #3b5269;
    --bg-dashboard: #748696;
    --bg-color-soft-2:#566c82;
    --bg-blue-light: #20c3c9 ;
}

.title{
    color: var(--text-color);
}

.container{
    width: 400px;
}
a{
    color: var(--text-color);
}