body{
    margin: 0;
    padding: 0;
}


h1{
    text-align: center;
}


.container-form{
    display: flex;
    justify-content: center;
}

.form{
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: #f2f2f2;
    border-radius: 10px;
}


.btn-registro{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.btn-registro input{
    margin-right: 20px;
}